# Dependencies
/node_modules
.venv

# Next.js output
/.next
/out

# Production output
/build

# Local environment files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor and operating system files
.DS_Store
*.tsbuildinfo

# Vercel
.vercel
